<div class="page <% unless page.parsable? %>compact<% end %>">
  <div class="provider">
    <%= image_tag(page.favicon_url, class: 'favicon', width: 16, height: 16) if page.favicon_url %>
    <%= link_to page.provider_name, page.provider_url, class: 'name' %>
    <span class="author"><%= page.author_name %></span>
  </div>
  <div class="image" style="background-image: url(<%= page.image_url %>)"></div>
  <h3 class="title"><%= link_to(truncate(page.title || page.url, length: 90), title_url) %></h3>
  <div class="description"><%= first_sentence(page.summary) %></div>
</div>
