<!--p id="notice"><%= notice %></p-->

<div class="page-details">
  <div class="provider">
    <%= image_tag @save.page.extracted_favicon_url, width: 16, height: 16 %>
    <span class="name"><%= @save.page.extracted_provider_display %></span>
  </div>
  <h2 class="title"><%= @save.page.title %></h2>
  <div class="details">
    <% if @save.page.extracted_author_name %>
      <span class="author">By <span class="name"><%= @save.page.extracted_author_name %></span></span>
    <% end %>
    <% if @save.page.published_at %>
      <span class="published-at"><%= @save.page.published_at.strftime('%b. %-d, %Y') %></span>
    <% end %>
    <%= link_to 'View Original', @save.page.url, class: 'view-original' %>
  </div>
  <% if @save.page.extracted_media_type == 'video' %>
    <p class="description"><%= @save.page.extracted_lead || @save.page.description %></p>
    <div class="media">
      <%= @save.page.extracted_media_html.html_safe %>
    </div>
  <% elsif @save.page.extracted_content.present? %>
    <div class="content">
      <%= @save.page.extracted_content.html_safe %>
    </div>
  <% end %>
</div>
