<!DOCTYPE html>
<html>
  <head>
    <title><%= (page_title = yield(:title)).present? ? "#{page_title} | " : '' %>Chronicle</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="container">
      <header>
        <h1>Chronicle</h1>
        <nav>
          <ul>
            <% if current_user %>
              <li <% if controller?('home') %>class="current"<% end %>><%= link_to 'Home', root_path %></li>
              <li <% if controller?('saves') %>class="current"<% end %>><%= link_to 'Reading List', saves_path %></li>
              <li <% if controller?('likes') %>class="current"<% end %>><%= link_to 'Likes', likes_path %></li>
              <li <% if controller?('visits') %>class="current"<% end %>><%= link_to 'History', visits_path %></li>
            <% end %>
          </ul>
        </nav>
        <% if current_user %>
          <div class="search">
            <form method="get" action="/search">
              <input name="q" value="<%= params[:q] %>" placeholder="Search" />
            </form>
          </div>
        <% end %>
        <div class="user">
          <% if current_user %>
            <%= link_to image_tag(current_user.avatar_url), auth_sign_out_path, method: :delete %>
          <% else %>
            <%= link_to 'Sign in', auth_sign_in_path %>
          <% end %>
        </div>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
